@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
input{
    outline: none;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 1rem;
    font-size: 2.5rem;
    justify-content: space-around;
    border-bottom: 1px solid #CCCCCC;
}
.list{
    width: 100%;
    padding: 1rem 3rem;
    border-bottom: 1px solid #CCCCCC;
    .one{
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
        p{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    ul{
        padding:  1rem;
        li{
            list-style: none;
            width: 100%;
            overflow: hidden;
            font-size: 1.5rem;
            padding-bottom:1rem;
        }
    }
}
